
.nav-toggale-btn{
  cursor: pointer !important;
}
.nav-toggale-btn:hover{
  background: #f1efefd1 !important;
}


.text-logo{
  color: #282a39 !important;
  text-transform: uppercase;
  font-weight: bold;
}

.other-title{
  border-bottom: 1px solid #e5e9ec;
  width: 4rem;
}

.form-wizard{
  display: block !important;
   max-width: 92% !important;
}
.steps-align{
  display: flex !important;
  justify-content: center !important;
}
.form-wizard .steps ul li {
  padding: 0px 4rem !important;
}

.btn-edit{
    padding: .2rem .4rem;
    float: left;
    margin-right: 0.5rem;
}

.icon-btn{
  font-size: 1.2rem;
  color: white;
}

.invalid-search{
  border:2px solid crimson;
}


table {
  counter-reset: tableCount;     
}
.counterCell:before {              
  content: counter(tableCount); 
  counter-increment: tableCount; 
}

.dd-selected-image, .dd-option-image {

  max-width: 48px !important;

}


/* slider css */
/* html,
body {
  margin: 0;
  padding: 0;
} */
/* 
h2,
p {
  margin: 30px 0 0;
  padding: 0;
}

p {
  color: #18c495;
} */

.slider {
  max-width: 1000px;
  width: 90%;
  margin: 15px auto;
  background: #ececec00;
  /* border-radius: 5px; */
  /* padding: 20px 0; */
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); */
  
  /*h v b s*/
}

.slick-slider button {
  display: none!important;
}

.slick-slide {
  color: #333;
  padding: 40px 0;
  font-size: 1.25em;
  font-family: "Verdana";
  text-align: center;
  pointer-events: none;
}

.slick-slide .desc {
  opacity: 0;
}

.slick-slide .desc > * {
  transition: all 900ms ease;
}

.slick-slide .desc h2 {
  position: relative;
  left: 50px;
  line-height: 1;
}

.slick-slide .desc p {
  position: relative;
  top: 50px;
  opacity: 0;
}

.slick-slide img {
  width: 50%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-dots {
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  padding: 1px;
  background: #ccc;
  margin: 10px 5px;
  width: 40px;
  height: 5px;
}

.slick-dots li.slick-active {
  background: #676867;
}

.slick-dots button {
  display: none;
}

.slick-slide:nth-child(odd) {
  /* background: blue;*/
}

.slick-slide {
  opacity: 0.2;
  transition: all 300ms ease;
}

.slick-current {
  opacity: 1;
  transform: scale(1.1);
}

.slick-current .desc {
  opacity: 1;
}

.slick-current .desc h2 {
  left: 0;
}

.slick-current .desc p {
  top: 0;
  opacity: 1;
}

tfoot input {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}
thead input {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}

.textOverflow {
  white-space: nowrap; 
  width: 100px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.popover{
  max-width: 100%;
}

/* color coding for PROJ MGMT and incoming */
.complete{
background-color: rgba(43, 134, 43, 0.849);
}
.delivere{
background-color: rgba(39, 43, 255, 0.849);
}
.upload{
background-color: rgba(79, 82, 255, 0.972);
}
.publish{
background-color: rgba(189, 190, 246, 0.972);
}
.removed{
background-color: rgba(134, 43, 43, 0.849);
}
.in-progress{
background-color: rgba(148, 79, 165, 0.849);
}
.waiting{
background-color: rgba(226, 171, 68, 0.849);
}
.ready{
background-color: rgba(108, 228, 134, 0.849);
}
.approved{
background-color: rgba(255, 255, 255, 0.849);
}
.encoding{
background-color: rgba(88, 100, 206, 0.849);
}
.missing{
background-color: rgba(251, 207, 86, 0.849);
}
.qc{
background-color: rgba(116, 0, 161, 0.849);
}
.unavailable{
background-color: rgba(161, 0, 0, 0.849);
}
.format{
background-color: rgba(0, 0, 0, 0.849);
color: green;
}



#model-dialog-add-library{
  margin-top: 15% !important;
}




