/*----------------------------------
table of content
------------------------------------

01. type style
02. main structure style
03. left sidebar navigation style
04. reset styles
05. header styles
06. widget styles
07. calendar styles
08. sign in
09. form style
10. form wizard style
11. switch style
12. 404 error style
13. invoice
14. profile style
15. custom chart style

----------------------------------*/
/*----------------------------------
type style
----------------------------------*/
body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
}

body.app {
    background: #282828;
}

a,
a:hover {
    -webkit-transition: all .3s;
            transition: all .3s;
    text-decoration: none;
    color: #ffffff;
    outline: 0;
}

span a,.note-editing-area a{
    color: #0c8bec;
}

span a:hover,.note-editing-area a:hover {
    text-decoration: underline;
    color:#282a39;
}

a.default-color,
a.default-color:hover,
.default-color a,
.default-color a:hover {
    text-decoration: none;
}

a.default-color:hover,
.default-color a:hover,
a.gray-color:hover,
.gray-color a:hover {
    color: #a768f3;
}

a.gray-color,
.gray-color a {
    color: #bab8c3;
}

.btn {
    cursor: pointer;

    font-size: 14px;
}

.btn-lg {
    font-size: 18px;
}

.btn-sm {
    font-size: 12px;
}

button,
button:focus,
button:hover {
    outline: 0;
}

strong {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
.default-color,
.default-color a {
    color: #ffffff;
}

.breadcrumb {
    background: transparent;

    font-size: 12px;
}

/*----------------------------------
main structure style
----------------------------------*/
.app {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    min-height: 100vh;

    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
}

.app-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    overflow-x: hidden;
            flex-direction: row;

    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -ms-flex-positive: 1;
}
.app-body .left-sidebar {
            flex: 0 0 250px;

    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 0;
    -webkit-flex: 0 0 250px;
        -ms-flex: 0 0 250px;
    -ms-flex-order: -1;
    -webkit-order: -1;
            order: -1;
}
.app-body .main-content {
            flex: 1;

    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
}
.app-body .right-sidebar {
            flex: 0 0 250px;

    -webkit-box-flex: 0;
    -webkit-flex: 0 0 250px;
        -ms-flex: 0 0 250px;
}

.main-content,
.app-header,
.app-footer,
.left-sidebar,
.right-sidebar {
    -webkit-transition-duration: .25s, .25s;
            transition-duration: .25s, .25s;
    -webkit-transition-property: margin-left, margin-right;
            transition-property: margin-left, margin-right;
}

.main-content .container-fluid {
    padding: 0 20px;
}

.header-fixed .app-header {
    position: fixed;
    z-index: 1001;

    width: 100%;
}

.header-fixed .app-body {
    margin-top: 60px;
}

header.navbar {
    position: relative;

            flex-direction: row;

    height: 60px;
    padding: 0;

    background-color: #1b1b1b;
    box-shadow: 0 1px 10px 1px rgba(115, 108, 203, .1);

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
}
header.navbar .navbar-nav {
            flex-direction: row;

    -webkit-align-items: center;
            align-items: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -ms-flex-align: center;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
}
header.navbar .navbar-brand {
    display: inline-block;

    width: 250px;
    height: 60px;
    margin-right: 0;
    padding: .8rem 1.5rem;

    background-color: #1b1b1b;
}
header.navbar .nav-item {
    position: relative;

    min-width: 60px;
    margin: 0;

    text-align: center;
}

.left-sidebar {
    padding: 0;
}
.left-sidebar .sidebar-menu {
    position: relative;

    overflow-x: hidden;
    overflow-y: auto;

    width: 250px;

    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.left-sidebar-fixed .left-sidebar {
    position: fixed;

    height: 100%;
}

.left-sidebar-hidden .left-sidebar {
    margin-left: -250px;
}

.left-sidebar-fixed.left-sidebar-hidden .main-content,
.left-sidebar-fixed.left-sidebar-hidden .app-footer {
    margin-left: 0;
}

.left-sidebar-fixed .left-sidebar .sidebar-menu {
    height: calc(100vh - 60px);
}

.left-sidebar-fixed .main-content,
.left-sidebar-fixed .app-footer {
    margin-left: 250px;
}

.right-sidebar {
    z-index: 999;

    width: 250px;
    padding: 20px;

    color: #212121;
    border-left: 1px solid #ffffff;
    background: #212121;
}
.right-sidebar .widget {
    margin-bottom: 30px;
}
.right-sidebar .widget-title {
    font-size: 14px;
    font-weight: bold;
}

.right-sidebar-fixed.right-sidebar-hidden .main-content,
.right-sidebar-fixed.right-sidebar-hidden .app-footer {
    margin-right: 0;
}

.right-sidebar-fixed .main-content,
.right-sidebar-fixed .app-footer {
    margin-right: 250px;
}

.right-sidebar-overlay .main-content,
.right-sidebar-overlay .app-footer {
    margin-right: 0;
}

.right-sidebar-fixed .right-sidebar {
    position: fixed;
    right: 0;

    overflow-y: scroll;

    height: 100%;
    padding-bottom: 100px;
}

.right-sidebar-hidden .right-sidebar {
    margin-right: -250px;
}

.app-footer {
    /* bottom: 0px;
    position: fixed;
    width: 85%; */
    min-height: 50px;
    padding: 0 1rem;

    color: #ffffff;
    background: #1b1b1b;
    box-shadow: 0 1px 10px 1px rgba(115, 108, 203, .1);

    font-size: 12px;
    line-height: 50px;
}
.app-footer .back-top {
    text-decoration: none;

    color: #ffffff;

    font-size: 24px;
}
.app-footer .back-top:hover {
    color: #ffffff;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1024px;
    }
}

@media (max-width: 991px) {
    .main-content {
        display: inline-block;

        width: 100%;
    }
    .left-sidebar {
        width: 250px;
        margin-left: -250px;
    }
    .main-content,
    .app-footer {
        margin-left: 0 !important;
    }
    .mobile-leftside-show .left-sidebar {
        width: 250px;
        margin-left: 0;
    }
    .mobile-leftside-show .main-content {
        margin-right: -250px !important;
        margin-left: 250px !important;
    }
    .mobile-rightside-show .right-sidebar {
        margin-right: 0;
    }
}

/*----------------------------------
left sidebar navigation style
----------------------------------*/
.sidebar-menu ul li {
    position: relative;

    font-weight: 400;
}

.sidebar-menu .sub-menu > .sub li {
    padding-left: 50px;
}
.sidebar-menu .sub-menu > .sub li li {
    padding-left: 20px;
}

.sidebar-menu .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}

#nav-accordion {
    margin-top: 20px;
    margin-bottom: 50px;
}

/*--left nav icon--*/
.dcjq-icon {
    position: relative;
    top: -13px;

    float: right;
}
.dcjq-icon:before {
    position: absolute;
    top: 15px;
    right: 1.5rem;

    content: "\f105";
    -webkit-transition: all .3s ease;
            transition: all .3s ease;

    font-family: fontawesome;
    font-size: 12px;
}

.active .dcjq-icon:before {
    -webkit-transform: rotateZ(90deg);
        -ms-transform: rotate(90deg);
            transform: rotateZ(90deg);
}

.nav-collapse.collapse {
    display: inline;
}

.left-sidebar {
    color: #ffffff;
    background: #212121;
}
.left-sidebar .nav-title {
    margin-top: 15px;
}
.left-sidebar .nav-title h5 {
    margin-bottom: 10px;
    padding-left: 1.5rem;

    letter-spacing: 1px;

    opacity: .3;
    color: #ffffff;

    font-size: 11px;
}

.sidebar-menu ul li a.active,
.sidebar-menu ul li a:hover,
.sidebar-menu ul li a:focus {
    display: block;

    -webkit-transition: all .3s ease;
            transition: all .3s ease;

    color: #ffffff;
    background: #1b1b1b;
}

.sidebar-menu ul li a i {
    padding-right: 6px;

    font-size: 15px;
}

.sidebar-menu ul,
.sidebar-menu ul li ul.sub {
    margin: 0 0 0;
    padding: 0;

    list-style: none;
}

.sidebar-menu > ul > li > ul.sub {
    display: none;
}

.sidebar-menu > ul > li.active > ul.sub,
.sidebar-menu > ul > li > ul.sub > li > a {
    display: block;
}

.sidebar-menu ul li a {
    display: block;

    padding: 15px 0 15px 1.5rem;

    -webkit-transition: all .3s ease;
            transition: all .3s ease;
    text-decoration: none;

    color: #ffffff;
    outline: none;

    font-size: 13px;
    line-height: 15px;
}

.sidebar-menu ul li.sub-menu {
    line-height: 15px;
}

.sidebar-menu ul li a span {
    display: inline-block;
}

.sidebar-menu ul li ul.sub li {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;

    background: #1b1b1b;
}

.sidebar-menu ul li ul.sub li a {
    height: 40px;
    padding: 6px 0;

    -webkit-transition: all .3s ease;
            transition: all .3s ease;

    color: #ffffff;

    font-size: 13px;
    line-height: 30px;
}

.sidebar-menu ul li ul.sub li a:hover,
.sidebar-menu ul li ul.sub li.active a {
    display: block;

    -webkit-transition: all .3s ease;
            transition: all .3s ease;

    opacity: 1;
    color: #fff;
    background: transparent;
}

.left-sidebar-light .left-sidebar {
    color: #53505f;
    background: #fff;
    box-shadow: 0 1px 10px 1px rgba(115, 108, 203, .1);
}

.left-sidebar-light .sidebar-menu ul li a,
.left-sidebar-light .left-sidebar .nav-title h5 {
    color: #53505f;
}

.left-sidebar-light .sidebar-menu ul li a.active,
.left-sidebar-light .sidebar-menu ul li a:hover,
.left-sidebar-light .sidebar-menu ul li a:focus,
.left-sidebar-light .sidebar-menu ul li.active a {
    color: #a768f3;
    background: transparent;
}

.left-sidebar-light .sidebar-menu ul li ul.sub li a {
    color: #85828d;
}

.left-sidebar-light .sidebar-menu ul li ul.sub li.active a,
.left-sidebar-light .sidebar-menu ul li ul.sub li a:hover,
.left-sidebar-light .sidebar-menu ul li ul.sub li.active a {
    color: #a768f3;
}

.left-sidebar-light .sidebar-menu ul li ul.sub li {
    background: #fff;
}

.left-sidebar-light .app-header.text-light .navbar-nav .nav-link {
    opacity: .6;
    color: #fff;
}
.left-sidebar-light .app-header.text-light .navbar-nav .nav-link:hover {
    opacity: 1;
}

.left-sidebar-light-alt .sidebar-menu ul li a,
.left-sidebar-light-alt .left-sidebar .nav-title h5 {
    margin: 0 15px;

    color: #53505f;
}

.left-sidebar-light-alt .sidebar-menu > ul > li > a.active,
.left-sidebar-light-alt .sidebar-menu > ul > li > a:hover,
.left-sidebar-light-alt .sidebar-menu > ul > li > a:focus,
.left-sidebar-light-alt .sidebar-menu > ul > li.active a {
    color: #fff;
    border-radius: 4px;
    background: #ff518a;
}

.left-sidebar-light-alt .sidebar-menu ul li ul.sub li.active a,
.left-sidebar-light-alt .sidebar-menu ul li ul.sub li a:hover,
.left-sidebar-light-alt .sidebar-menu ul li ul.sub li.active a {
    color: #ff518a;
}

.left-sidebar-light-alt .left-sidebar .nav-title {
    margin-top: 15px;
    margin-bottom: 15px;
}

.left-sidebar-light-alt .sidebar-menu ul li.sub-menu {
    margin-bottom: 5px;
}

.left-sidebar-light-alt .left-sidebar .sidebar-menu {
    width: 230px;
}

.left-sidebar-light-alt.left-sidebar-fixed .app-footer {
    margin-left: 0;
}

.left-sidebar-light-alt.left-sidebar-fixed .left-sidebar .sidebar-menu {
    height: calc(100vh - 160px);
}

.left-sidebar-light-alt.left-sidebar-fixed .left-sidebar {
    left: 20px;

    height: auto;
    margin-top: 25px;

    border: 1px solid #e5e9ec;
    border-radius: 5px;
    box-shadow: none;
}

@media (max-width: 991px) {
    .left-sidebar-light-alt.left-sidebar-fixed .left-sidebar {
        left: 0;
    }
}

/*----------------------------------
reset styles
----------------------------------*/
.grid-view [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;

    border: 1px solid rgba(86, 61, 124, .2);
    background-color: rgba(86, 61, 124, .15);
}

.grid-view {
    margin-bottom: 10px;
    padding: 0 15px;
}

.card-group {
    box-shadow: 0 1px 10px 1px rgba(115, 108, 203, .1);
}

.card {
    border: 1px solid #ffffff;
    background: #282828;
    color: #b2b2b2;
}

.card-body {
    background: #282828;
    color: #b2b2b2;
}
.card .card-header {
    padding: 1rem;

    border-bottom: 1px solid #ffffff;
    background: #282828;
}
.card .card-header .card-title {
    margin-bottom: 0;

    color: #b2b2b2;

    font-size: 18px;
    font-weight: 500;
}
.card .card-footer {
    border-top: 1px solid #ffffff;
    background: transparent;
}

.card-shadow {
    border: none;
    box-shadow: 0 1px 10px 1px rgba(195, 193, 211, 0.1);
}

.no-shadow {
    box-shadow: none;
}

.lobicard {
    margin-bottom: 0;
}
.lobicard .dropdown-menu {
    box-shadow: none;
}
.lobicard > .card-header {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.lobicard > .card-header > .card-title input {
    width: 100%;
    padding: 0 5px;

    color: inherit;
    border: 1px solid #e5e9ec;
    border-radius: 2px;
    outline: 0;
    background-color: #fff;

    line-height: 30px;
}
.lobicard > .card-header > .card-title input:focus {
    background: #fff;
}
.lobicard .card-header .dropdown .dropdown-menu > li > a {
    display: inline-block;

    width: 30px;
    height: 30px;
    margin-left: 0;

    color: #868e96;
    border-radius: 50%;

    line-height: 30px;
}
.lobicard .card-header .dropdown .dropdown-menu > li > a:hover,
.lobicard .card-header .dropdown .dropdown-menu > li > a:focus:hover {
    color: #fff;
    background-color: #a768f3;
    text-shadow: none;
}

.lobicard.lobi-light .card-header .dropdown .dropdown-menu > li > a {
    color: #fff;
}
.lobicard.lobi-light .card-header .dropdown .dropdown-menu > li > a:hover,
.lobicard.lobi-light .card-header .dropdown .dropdown-menu > li > a:focus:hover {
    color: #2c2c2c;
    background-color: #fff;
    text-shadow: none;
}

.card-collapsed > .card-header {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.card-primary,
.btn-primary,
.btn-outline-primary:hover,
.btn-outline-primary:not([disabled]):not(.disabled).active,
.btn-outline-primary:not([disabled]):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
    border-color: #1b1b1b;
    background-color: #1b1b1b;
    color: #b2b2b2;
}

.card-info,
.btn-info,
.btn-outline-info:hover,
.btn-outline-info:not([disabled]):not(.disabled).active,
.btn-outline-info:not([disabled]):not(.disabled):active,
.show > .btn-outline-info.dropdown-toggle {
    border-color: #36a2f5;
    background-color: #36a2f5;
}

.card-success,
.btn-success,
.btn-outline-success:hover,
.btn-outline-success:not([disabled]):not(.disabled).active,
.btn-outline-success:not([disabled]):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
    border-color: #34bfa3;
    background-color: #34bfa3;
}

.card-danger,
.btn-danger,
.btn-outline-danger:hover,
.btn-outline-danger:not([disabled]):not(.disabled).active,
.btn-outline-danger:not([disabled]):not(.disabled):active,
.show > .btn-outline-danger.dropdown-toggle {
    border-color: #ff518a;
    background-color: #ff518a;
}

.card-warning,
.btn-warning,
.btn-outline-warning:hover,
.btn-outline-warning:not([disabled]):not(.disabled).active,
.btn-outline-warning:not([disabled]):not(.disabled):active,
.show > .btn-outline-warning.dropdown-toggle {
    border-color: #eac459;
    background-color: #eac459;
}

.btn-primary:hover,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    border-color: #3d3d3d;
    background-color: #3d3d3d;
    color: #ffffff;
}

.btn-info:hover,
.btn-info:not([disabled]):not(.disabled).active,
.btn-info:not([disabled]):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
    border-color: #0c8bec;
    background-color: #0c8bec;
}

.btn-success:hover,
.btn-success:not([disabled]):not(.disabled).active,
.btn-success:not([disabled]):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
    border-color: #299781;
    background-color: #299781;
}

.btn-danger:hover,
.btn-danger:not([disabled]):not(.disabled).active,
.btn-danger:not([disabled]):not(.disabled):active,
.show > .btn-danger.dropdown-toggle {
    border-color: #ff1e68;
    background-color: #ff1e68;
}

.btn-warning:hover,
.btn-warning:not([disabled]):not(.disabled).active,
.btn-warning:not([disabled]):not(.disabled):active,
.show > .btn-warning.dropdown-toggle {
    border-color: #e4b42c;
    background-color: #e4b42c;
}

.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.btn-info:not([disabled]):not(.disabled).active,
.btn-info:not([disabled]):not(.disabled):active,
.show > .btn-info.dropdown-toggle,
.btn-success:not([disabled]):not(.disabled).active,
.btn-success:not([disabled]):not(.disabled):active,
.show > .btn-success.dropdown-toggle,
.btn-danger:not([disabled]):not(.disabled).active,
.btn-danger:not([disabled]):not(.disabled):active,
.show > .btn-danger.dropdown-toggle,
.btn-warning:not([disabled]):not(.disabled).active,
.btn-warning:not([disabled]):not(.disabled):active,
.show > .btn-warning.dropdown-toggle,
.btn-secondary:not([disabled]):not(.disabled).active,
.btn-secondary:not([disabled]):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle,
.btn-dark:not([disabled]):not(.disabled).active,
.btn-dark:not([disabled]):not(.disabled):active,
.show > .btn-dark.dropdown-toggle,
.btn-outline-primary:not([disabled]):not(.disabled).active,
.btn-outline-primary:not([disabled]):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle,
.btn-outline-info:not([disabled]):not(.disabled).active,
.btn-outline-info:not([disabled]):not(.disabled):active,
.show > .btn-outline-info.dropdown-toggle,
.btn-outline-success:not([disabled]):not(.disabled).active,
.btn-outline-success:not([disabled]):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle,
.btn-outline-danger:not([disabled]):not(.disabled).active,
.btn-outline-danger:not([disabled]):not(.disabled):active,
.show > .btn-outline-danger.dropdown-toggle,
.btn-outline-warning:not([disabled]):not(.disabled).active,
.btn-outline-warning:not([disabled]):not(.disabled):active,
.show > .btn-outline-warning.dropdown-toggle,
.btn-outline-secondary:not([disabled]):not(.disabled).active,
.btn-outline-secondary:not([disabled]):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle,
.btn-outline-dark:not([disabled]):not(.disabled).active,
.btn-outline-dark:not([disabled]):not(.disabled):active,
.show > .btn-outline-dark.dropdown-toggle {
    box-shadow: none;
}

.btn-outline-primary {
    color: #a768f3;
    border-color: #a768f3;
}

.btn-outline-success {
    color: #34bfa3;
    border-color: #34bfa3;
}

.btn-outline-danger {
    color: #ff518a;
    border-color: #ff518a;
}

.btn-outline-warning {
    color: #eac459;
    border-color: #eac459;
}

.btn-outline-info {
    color: #36a2f5;
    border-color: #36a2f5;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #c397f7;
    background-color: transparent;
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
    color: #55d1b8;
    background-color: transparent;
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
    color: #ff84ac;
    background-color: transparent;
}

.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
    color: #f0d486;
    background-color: transparent;
}

.btn-outline-info.disabled,
.btn-outline-info:disabled {
    color: #67b8f7;
    background-color: transparent;
}

.bg-primary,
.badge-primary,
.nav.nav-pills.nav-pills-primary .nav-link.active {
    background-color: #a768f3 !important;
}

.bg-success,
.badge-success,
.nav.nav-pills.nav-pills-success .nav-link.active {
    background-color: #34bfa3 !important;
}

.bg-info,
.badge-info,
.nav.nav-pills.nav-pills-info .nav-link.active {
    background-color: #36a2f5 !important;
}

.bg-danger,
.badge-danger,
.nav.nav-pills.nav-pills-danger .nav-link.active {
    background-color: #ff518a !important;
}

.bg-inverse,
.badge-inverse,
.nav.nav-pills.nav-pills-inverse .nav-link.active {
    background-color: #292b2c !important;
}

.bg-warning,
.badge-warning,
.nav.nav-pills.nav-pills-warning .nav-link.active {
    background-color: #eac459 !important;
}

.bg-white {
    background-color: #fff !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
    border-color: #c603e4e5;
    background-color: #c601e4d4;
}

.text-primary {
    color: #a768f3 !important;
}

.text-success {
    color: #34bfa3 !important;
}

.text-warning {
    color: #eac459 !important;
}

.text-info {
    color: #36a2f5 !important;
}

.text-danger {
    color: #ff518a !important;
}

.border-primary {
    border-color: #a768f3 !important;
}

.border-success {
    border-color: #34bfa3 !important;
}

.border-warning {
    border-color: #eac459 !important;
}

.border-info {
    border-color: #36a2f5 !important;
}

.border-danger {
    border-color: #ff518a !important;
}

.border-opacity {
    border-color: rgba(0, 0, 0, .125) !important;
}

@media (max-width: 991px) {
    .d-md-down-none {
        display: none !important;
    }
}

a.text-light:focus,
a.text-light:hover {
    color: #fff !important;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.dropdown-menu {
    margin: .5rem 0 0;

    border: none;
    box-shadow: 0 10px 70px 0 rgba(108, 158, 195, .25);

    font-size: 14px;
}

.dropdown-divider {
    background-color: #e5ebf8;
}

.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:active {
    background-color: #f2f6f9;
}

.opacity-3 {
    opacity: .3;
}

.f12 {
    font-size: 12px;
}

.f18 {
    font-size: 16px;
}

.f24 {
    font-size: 24px;
}

.f30 {
    font-size: 30px;
}

.f50 {
    font-size: 50px;
}

.f60 {
    font-size: 60px;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.nav-pill-custom a {
    color: #53505f;
}

.nav-pill-custom .nav-link {
    border-radius: 30px !important;
}

.nav-pills-sm .nav-link {
    padding: .4em 1em;

    border-radius: 30px !important;

    font-size: 12px;
}

.custom-control-input:checked ~ .custom-control-indicator {
    background-color: #36a2f5;
}

.table-vertical-middle tr td {
    vertical-align: middle;
}

.table td,
.table th,
.border {
    border-color: #e5e9ec !important;
}

.table td,
.table th {
    padding: .75rem 1rem;
}

.table-dark td,
.table-dark th,
.table-dark thead th {
    border-color: #32383e !important;
    color: #b2b2b2 !important;
    background: #1b1b1b !important;
}

.table-hover tbody tr:hover,
.table-striped tbody tr:nth-of-type(odd),
.table-active,
.table-active > td,
.table-active > th {
    background-color: #f8fafb;
}

.table .thead-light th {
    color: #495057;
    border-color: #e5e9ec;
    background-color: #f8fafb;
}

.table thead th {
    vertical-align: bottom;

    border-top: none;
    border-bottom: none;
}

.table tfoot th {
    vertical-align: bottom;

    border-bottom: none;
}

.table-striped tbody tr:nth-of-type(odd),
.table-active,
.table-active > td,
.table-active > th {
    background-color: #f8fafb;
}
td.table_guid, td.table_cast{
    font-size: 10px;
}

td.table_image{
    padding: 5px;
    margin: 0px;
    text-align: center;
}
td.table_image img{
    width: 50px;
}

.page-item.disabled .page-link,
.page-link {
    border-color: #e5e9ec;
}

.page-item.active .page-link,
.page-link:focus,
.page-link:hover {
    z-index: 2;

    color: #fff;
    border-color: #212121;
    background-color: #212121;
}

.page-link {
    color: #2c2c2c;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #ffffff;
    background-color: #282828;
}

.bd-example-row .row > .col,
.bd-example-row .row > [class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;

    border: 1px solid rgba(86, 61, 124, .2);
    background-color: rgba(86, 61, 124, .15);
}

.close {
    font-weight: 300;
}

.alert-outline.alert-primary {
    background: transparent;
}
.alert-outline.alert-primary .close {
    color: #004085;
}

.alert-outline.alert-secondary {
    background: transparent;
}
.alert-outline.alert-secondary .close {
    color: #464a4e;
}

.alert-outline.alert-success {
    background: transparent;
}
.alert-outline.alert-success .close {
    color: #155724;
}

.alert-outline.alert-danger {
    background: transparent;
}
.alert-outline.alert-danger .close {
    color: #721c24;
}

.alert-outline.alert-warning {
    background: transparent;
}
.alert-outline.alert-warning .close {
    color: #856404;
}

.alert-outline.alert-info {
    background: transparent;
}
.alert-outline.alert-info .close {
    color: #0c5460;
}

.alert-outline.alert-dark {
    background: transparent;
}
.alert-outline.alert-dark .close {
    color: #1b1e21;
}

.nav.nav-tabs .nav-link,
.nav.nav-pills .nav-link {
    color: #b2b2b2;
}

.nav-tabs {
    border-bottom: 1px solid #e5e9ec;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-color: #e5e9ec #e5e9ec #fff;
}

.nav.nav-tabs .nav-link.disabled {
    color: #bab8c3;
}

.nav.nav-pills .nav-link.active,
.nav.nav-pills.nav-pills-primary .nav-link.active,
.nav.nav-pills.nav-pills-success .nav-link.active,
.nav.nav-pills.nav-pills-info .nav-link.active,
.nav.nav-pills.nav-pills-danger .nav-link.active,
.nav.nav-pills.nav-pills-inverse .nav-link.active,
.nav.nav-pills.nav-pills-warning .nav-link.active {
    color: #fff;
}

.jstree-default .jstree-clicked {
    border-radius: 2px;
    background: #f2f6f9;
    box-shadow: inset 0 0 1px #e6ebf8;
}

.form-control {
    font-size: .9rem;
}

.form-control-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
    padding: .9rem 1rem;
}

.form-control-sm,
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
    padding: .15rem .5rem;
}

@media (min-width: 992px) {
    .picker-form .form-group label,
    .right-text-label-form .form-group label {
        text-align: right;
    }
}

.datepicker-dropdown.datepicker-orient-top:before,
.datepicker-dropdown:before,
.datepicker-dropdown:after,
.datepicker-dropdown.datepicker-orient-top:after,
.datepicker-dropdown:after,
[class*=" datetimepicker-dropdown"]:before,
[class*=" datetimepicker-dropdown"]:after,
.bootstrap-timepicker.dropdown-menu:before,
.bootstrap-timepicker.dropdown-menu:after {
    border: none;
}

.datepicker-dropdown:before {
    border-bottom-color: #fff;
}

.datepicker-inline {
    border: 1px solid #e5e9ec;
}

.datepicker,
.datetimepicker {
    z-index: 12000;

    width: 260px;
    padding: 10px;
}
.datepicker table,
.datetimepicker table {
    width: 100%;
}
.datepicker table tbody tr > td.day.today,
.datetimepicker table tbody tr > td.day.today {
    color: #fff;
    background: #a768f3;
}

.dt-cont {
    position: relative;

    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;

    border: 1px solid #ccc;
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active {
    background-color: #282828;
}

.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover,
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active {
    background-image: none;
    text-shadow: none;
}

.datepicker table tr td.day.focused,
.datepicker table tr td.day:hover,
.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover,
.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr:first-child th:hover,
.datepicker table tr td span:hover,
.datepicker table tr td.day:hover {
    background: #b2b2b2;
}

.bootstrap-timepicker table td a {
    color: #53505f;
}

.bootstrap-timepicker table td a:hover {
    border-color: #e5e9ec;
    border-radius: 4px;
    background-color: #f2f6f9;
}

.bootstrap-timepicker table td input {
    width: 35px;

    border: 1px solid #e5e9ec;
}

.note-editor.note-frame {
    border: 1px solid #e5e9ec;
}

.note-editor.note-frame.card {
    border-radius: 0;
}
.note-editor.note-frame.card .btn-light {
    color: #111;
    border-color: #e5e9ec;
    background-color: #fff;
}
.note-editor.note-frame.card .card-header {
    background: #f8fafb;
}

.editor-toolbar.fullscreen {
    z-index: 1300;
}

.editor-toolbar {
    opacity: 1;
    border-top: 1px solid #e5e9ec;
    border-right: 1px solid #e5e9ec;
    border-left: 1px solid #e5e9ec;
}

.CodeMirror {
    border-color: #e5e9ec;
}

/*----------------------------------
header styles
----------------------------------*/
.navbar .nav-item .nav-link.nav-pill.user-avatar {
    margin-left: 20px;
}

.navbar .nav-item .nav-link.nav-pill.user-avatar img,
.navbar .nav-item .nav-pill.user-avatar.dropdown-toggle img {
    width: 35px;
    height: 35px;
    margin: 0;

    border: 0;
    border-radius: 50%;
}

.navbar-nav .navbar-toggler {
    color: #45567c;
}

.app-header .navbar-nav .dropdown-menu {
    min-width: 300px;
    margin: 1.5rem 0 0;

    border: none;
    box-shadow: 0 10px 70px 0 rgba(108, 158, 195, .25);
}
.app-header .navbar-nav .dropdown-menu:after {
    position: absolute;
    top: -12px;
    right: 30px;

    clear: both;

    width: 0;
    height: 0;

    content: "";

    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    border-left: 12px solid transparent;
}
.app-header .navbar-nav .dropdown-menu .dropdown-item {
    padding: 10px 1.5rem;

    color: #3c4b6c;

    font-size: 14px;
}
.app-header .navbar-nav .dropdown-menu .dropdown-item i {
    padding-right: 15px;
}
.app-header .navbar-nav .dropdown-menu .dropdown-header {
    margin-bottom: 8px;

    color: #45567c;
    border-bottom: 1px solid #e5e9ec;

    font-size: 15px;
}

.app-header .navbar-nav .dropdown-menu-right {
    right: -12px;
    left: auto;
}

.app-header .navbar-nav .dropdown-menu-accout {
    right: -25px;
}

.app-header .navbar-nav .dropdown-menu-ql-gird {
    min-width: 320px;
}

.app-header .navbar-nav .nav-link {
    color: #ffffff;
}
.app-header .navbar-nav .nav-link i {
    font-size: 18px;
}
.app-header .navbar-nav .nav-link .notification-alarm {
    position: absolute;
    top: 5px;
    right: 30%;

    width: 5px;
    min-width: 5px;
    height: 5px;
    min-height: 5px;
    padding: 0;

    border-radius: 100%;

    line-height: 5px;
}

.app-header .d-user h5 {
    font-size: 16px;
}

.app-header .d-user span {
    font-size: 12px;
}

.app-header .d-user img {
    width: 50px;
    height: 50px;

    border-radius: 50%;
}

.dropdown-slide .dropdown-menu {
    position: absolute;

    display: block;
    visibility: hidden;

    -webkit-transition: visibility .2s, opacity .2s, -webkit-transform 500ms cubic-bezier(.43, .26, .11, .99);
            transition: visibility .2s, opacity .2s, -webkit-transform 500ms cubic-bezier(.43, .26, .11, .99);
            transition: visibility .2s, opacity .2s, transform 500ms cubic-bezier(.43, .26, .11, .99);
            transition: visibility .2s, opacity .2s, transform 500ms cubic-bezier(.43, .26, .11, .99), -webkit-transform 500ms cubic-bezier(.43, .26, .11, .99);
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);

    opacity: 0;
}

.dropdown-slide.show .dropdown-menu.show {
    display: block;
    visibility: visible;

    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);

    opacity: 1;
}

@media (max-width: 991px) {
    .app-header .navbar-brand {
        position: absolute;
        left: 50%;

        margin-left: -120px;

        text-align: center;
    }
    .text-light .navbar-nav .navbar-toggler {
        color: #fff;
    }
}

.quick-links-grid {
    display: inline-block;

    width: 100%;
}
.quick-links-grid .ql-grid-item {
    display: inherit;

    width: 49.3%;
    padding: 20px 5px;

    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    color: #45567c;
}
.quick-links-grid .ql-grid-item i {
    -webkit-transition: all .3s;
            transition: all .3s;
    text-align: center;

    color: #d2d6eb;

    font-size: 32px;
}
.quick-links-grid .ql-grid-item .ql-grid-title {
    display: block;

    margin: 10px 0 0;

    text-align: center;

    font-size: 12px;
    font-weight: 400;
    line-height: 1;
}
.quick-links-grid .ql-grid-item:hover i {
    -webkit-transition: all .3s;
            transition: all .3s;

    color: #a768f3;
}

.search-wrap {
    margin-top: 12%;
}

.search-container {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    visibility: hidden;

    width: 100%;
    height: 100%;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    opacity: 0;
    background: -webkit-linear-gradient(250deg, #7b2eff, #b368ff);
    background:         linear-gradient(200deg, #7b2eff, #b368ff);
}
.search-container .close {
    position: fixed;
    z-index: 3;
    top: 40px;
    right: 60px;

    cursor: pointer;

    color: white;

    font-family: sans-serif;
}
.search-container .close span,
.search-container .close span:before,
.search-container .close span:after {
    position: absolute;

    display: block;

    width: 35px;
    height: 1px;

    content: "";

    border-radius: 4px;
    background: white;
}
.search-container .close span {
    background: transparent;
}
.search-container .close span:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.search-container .close span:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.search-container .outer-close {
    position: absolute;
    top: 0;
    right: 0;

    width: 85px;
    height: 85px;

    cursor: pointer;
}

.search-container.open {
    visibility: visible;

    opacity: 1;
}

.custom-search.form-control,
.custom-search.form-control:focus {
    width: 100%;
    height: 80px;
    padding-left: 0;

    color: #fff;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .3) !important;
    border-radius: 0;
    background: transparent;
    box-shadow: none;

    font-size: 60px;
    font-weight: 300;
}

.custom-search::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, .8);
}

.custom-search::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, .8);
}

.custom-search:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, .8);
}

.custom-search:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, .8);
}

.search-list {
    margin-top: 10%;
}
.search-list li {
    margin-bottom: 20px;
}
.search-list span {
    display: inline-block;

    width: 40px;
    height: 40px;
    margin-right: 20px;

    text-align: center;

    border-radius: 50%;

    line-height: 40px;
}
.search-list a {
    text-decoration: none;
}

.navbar-brand-dark {
    background: #282a39 !important;
}

.nav-link.search-toggle {
    position: relative;
    top: 2px;

    line-height: normal;
}

/*----------------------------------
widget styles
----------------------------------*/
/*title block*/
.page-title {
    padding: 1.5rem;
}
.page-title small {
    color: #92959e;

    font-size: 14px;
}

.title-block {
    margin-bottom: 20px;
    padding: 15px;

    background: #fff;
}
.title-block .t-block-heading,
.title-block .breadcrumb {
    margin-bottom: 0;
    padding: 0;
}

.task-d-list {
    margin-bottom: 0;
}
.task-d-list li {
    margin-bottom: 1rem;
}
.task-d-list li .task-list-action {
    opacity: 0;
}
.task-d-list li:hover .task-list-action {
    opacity: 1;
}
.task-d-list li:last-child {
    margin-bottom: 0;
}
.task-d-list li.list-mark {
    position: relative;

    padding-left: 15px;
}
.task-d-list li.list-mark:before {
    position: absolute;
    left: 0;

    display: block;

    width: 2px;
    height: 100%;

    content: "";

    border-radius: 4px;
}
.task-d-list li.list-mark.list-primary:before {
    background: #a768f3;
}
.task-d-list li.list-mark.list-info:before {
    background: #36a2f5;
}
.task-d-list li.list-mark.list-success:before {
    background: #34bfa3;
}
.task-d-list li.list-mark.list-danger:before {
    background: #ff518a;
}
.task-d-list li.list-mark.list-warning:before {
    background: #eac459;
}
.task-d-list li.list-mark.list-inverse:before {
    background: #292b2c;
}

.baseline {
    position: relative;

    border-color: #e5ebf8;
}
.baseline .baseline-list {
    position: relative;

    padding-bottom: 1px;

    border-color: #e5ebf8;
}
.baseline .baseline-list:before,
.baseline .baseline-list:after {
    display: table;

    content: " ";
}
.baseline .baseline-list:after {
    position: absolute;
    top: 18px;
    left: 0;

    width: 12px;
    height: 12px;
    margin-left: -6px;

    content: "";

    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 0 3px #e5ebf8 inset;
}
.baseline .baseline-list .baseline-info {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.baseline-border {
    border-left: 1px solid #e5ebf8;
}

.baseline-list.baseline-border {
    margin-left: -1px;
}

.baseline-primary {
    border-color: #a768f3 !important;
}
.baseline-primary:after {
    box-shadow: 0 0 0 3px #a768f3 inset !important;
}

.baseline-success {
    border-color: #34bfa3 !important;
}
.baseline-success:after {
    box-shadow: 0 0 0 3px #34bfa3 inset !important;
}

.baseline-warning {
    border-color: #eac459 !important;
}
.baseline-warning:after {
    box-shadow: 0 0 0 3px #eac459 inset !important;
}

.baseline-info {
    border-color: #36a2f5 !important;
}
.baseline-info:after {
    box-shadow: 0 0 0 3px #36a2f5 inset !important;
}

.baseline-danger {
    border-color: #ff518a !important;
}
.baseline-danger:after {
    box-shadow: 0 0 0 3px #ff518a inset !important;
}

.wb-icon-box {
    display: inline-block;

    width: 50px;
    height: 50px;

    text-align: center;

    line-height: 60px;
}

.btn-demo .btn {
    margin: 0 10px 10px 0;
}

.btn-square {
    border-radius: 0;
}

.btn-pill {
    border-radius: 50px;
}

.portlets-scroll-wrap {
    overflow-y: scroll;
}

.portlets-scroll {
    min-height: 101%;
}

.fontawesome-icon-list,
.simple-icon-list,
.themify-icon-list,
.weather-icon-box {
    margin-bottom: 30px;
}
.fontawesome-icon-list .preview,
.simple-icon-list .preview,
.themify-icon-list .preview,
.weather-icon-box .preview {
    padding: 15px;
}
.fontawesome-icon-list .preview:hover,
.simple-icon-list .preview:hover,
.themify-icon-list .preview:hover,
.weather-icon-box .preview:hover {
    background: #f2f6f9;
}
.fontawesome-icon-list .preview i,
.simple-icon-list .preview i,
.themify-icon-list .preview i,
.weather-icon-box .preview i {
    padding-right: 15px;

    font-size: 18px;
}

.notification-list li {
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    border-bottom: 1px solid #e5e9ec;
}

.notification-list .nt-thumb {
    float: left;

    margin-top: 5px;
}
.notification-list .nt-thumb img {
    width: 24px;
    height: auto;
}

.notification-list .nt-info {
    display: block;
    overflow: hidden;
}
.notification-list .nt-info p {
    margin-bottom: 0;

    color: #62686e;

    font-size: 12px;
    line-height: normal;
}
.notification-list .nt-info .nt-title {
    margin-right: 10px;

    font-size: 13px;
    font-weight: 500;
}
.notification-list .nt-info a {
    color: #2c2c2c;
}
.notification-list .nt-info a:hover {
    color: #a768f3;
}

/*---------------------------
    flot chart
----------------------------*/
#flotTip {
    padding: 5px 10px;

    color: #fff;
    border-radius: 3px;
    background: rgba(0, 0, 0, .8);
}

.pieLabel div {
    font-size: 11px !important;
    font-weight: normal;
    line-height: normal;
}

.legend table {
    left: 35px;
}

.legend > div {
    left: 33px !important;

    opacity: .85;
}

.earning-chart-space {
    width: 100%;
    height: 268px;
    margin: 0 auto;

    text-align: center;
}

.earning-chart-info {
    padding: 15px  0 0 0;
}

.earning-chart-info h4 {
    /*margin-top: 0;*/
    margin-bottom: 5px;
}

.series-list input {
    margin-right: 10px;
}

.f-c-space {
    width: 100%;
    height: 280px;
    margin: 0 auto;

    text-align: center;
}

/*---------------------------
    search result
----------------------------*/
.search-result-Stats {
    padding: 15px 0;
}

.search-results {
    margin-top: 20px;
}
.search-results li {
    margin-bottom: 30px;
    padding-bottom: 20px;

    border-bottom: 1px dashed #e5e9ec;
}
.search-results li .title {
    margin-bottom: 10px;
}
.search-results a {
    color: #2c2c2c;
}
.search-results a:hover {
    color: #a768f3;
}

/*---------------------------
    pagination-custom
----------------------------*/
.pagination-custom a {
    color: #2c2c2c;
}
.pagination-custom a:hover {
    color: #2c2c2c;
}

.pagination-custom .page-link {
    border: 1px solid #e5e9ec;
}
.pagination-custom .page-link:focus,
.pagination-custom .page-link:hover {
    color: #2c2c2c;
    background-color: #e5e9ec;
}

/*---------------------------
    datatable
----------------------------*/
.table-show-hide {
    position: absolute;
    z-index: 100;
    left: 40px;
}
.table-show-hide a:not([href]):not([tabindex]) {
    margin: 0 5px;

    cursor: pointer;

    color: #2c2c2c;
}
.table-show-hide a:not([href]):not([tabindex]):hover,
.table-show-hide a:not([href]):not([tabindex]):focus {
    color: #a768f3;
}

@media (max-width: 991px) {
    .table-show-hide {
        position: static;
    }
}

td.details-control {
    cursor: pointer;

    background: url("../img/details_open.png") no-repeat center center;
}

tr.details td.details-control {
    background: url("../img/details_close.png") no-repeat center center;
}

/*---------------------------
    vector map
----------------------------*/
.vmap-wrap {
    position: relative;

    width: 100%;
    height: 250px;
    margin-top: 20px;
}

.jvectormap-zoomin,
.jqvmap-zoomin {
    position: absolute;
    z-index: 70;
    top: 0;

    -webkit-transition: all .3s;
            transition: all .3s;
}

.jvectormap-zoomin:hover,
.jvectormap-zoomout:hover,
.jqvmap-zoomin:hover,
.jqvmap-zoomout:hover,
.jvectormap-zoomin:hover,
.jvectormap-zoomout:hover,
.jqvmap-zoomin:hover,
.jqvmap-zoomout:hover {
    -webkit-transition: all .3s;
            transition: all .3s;

    color: #fff;
    border-color: #a768f3;
    background: #a768f3;
}

.jvectormap-zoomout,
.jqvmap-zoomout {
    position: absolute;
    z-index: 70;
    top: 0;
    left: 27px;
}

.jvectormap-zoomin,
.jvectormap-zoomout,
.jqvmap-zoomin,
.jqvmap-zoomout {
    width: 28px;
    height: 28px;

    cursor: pointer;
    text-align: center;

    color: #545454;
    border: 1px solid #eaeaea;
    border-radius: 0;
    background: #fff;

    line-height: 28px;
}

.jvectormap-label {
    position: absolute;
    z-index: 11;

    display: none;

    padding: 3px 5px;

    color: #fff;
    border: none;
    border-radius: 3px;
    background: rgba(0, 0, 0, .8);

    font-size: 12px;
}

/*----------------------------------
calendar styles
---------------------------------- */
.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-list-heading td {
    border-color: #e5e9ec;
}

.fc-unthemed th.fc-day-header {
    padding: .70rem .5rem;

    font-size: 1rem;
    font-weight: 500;
}

.fc-unthemed .fc-day-grid td:not(.fc-axis) {
    padding: .5rem .5rem;
}

a:not([href]):not([tabindex]) {
    text-decoration: none;

    color: inherit;
}

.fc-unthemed .fc-toolbar .fc-button {
    border: 1px solid #e5e9ec;
    background: #f8fafb;
    text-shadow: none !important;
}

.fc-unthemed .fc-toolbar .fc-button {
    height: 2.75rem;
    padding: 0 1.25rem;

    outline: none !important;

    font-size: .9rem;
}

.fc-unthemed .fc-toolbar .fc-button.fc-state-disabled {
    color: #aaacbb;
    background: #f4f5f7;
}

.fc-unthemed .fc-toolbar .fc-button:focus,
.fc-unthemed .fc-toolbar .fc-button:active,
.fc-unthemed .fc-toolbar .fc-button.fc-state-active {
    color: #fff;
    border: 0;
    background: #a768f3;
    box-shadow: none;
    text-shadow: none;
}

.fc-unthemed .fc-toolbar h2 {
    margin-top: .70rem;

    text-transform: uppercase;

    font-size: 1.1rem;
    font-weight: 500;
}

.fc-icon-left-single-arrow:after,
.fc-icon-right-single-arrow:after {
    font-weight: normal;
}

.fc-event,
.fc-event-dot {
    background-color: #eef2f5;
}

.fc-event {
    border: 1px solid #eef2f5;
}

.d-fc-event-primary {
    border: none;
    background: #a768f3;
}
.d-fc-event-primary .fc-title {
    color: #fff;
}

.d-fc-event-success {
    border: none;
    background: #34bfa3;
}
.d-fc-event-success .fc-title {
    color: #fff;
}

.d-fc-event-danger {
    border: none;
    background: #ff518a;
}
.d-fc-event-danger .fc-title {
    color: #fff;
}

.d-fc-event-warning {
    border: none;
    background: #eac459;
}

.d-fc-event-info {
    border: none;
    background: #36a2f5;
}
.d-fc-event-info .fc-title {
    color: #fff;
}

.fc-ltr .fc-h-event.fc-not-start {
    padding-left: 10px;
}

.fc-day-grid-event {
    padding: 10px;
}

.fc-popover .fc-header {
    padding: 6px;
}

.fc-unthemed .fc-popover .fc-header .fc-close {
    margin-top: 6px;

    font-size: .9em;
}

.fc-event-container a {
    margin-bottom: 3px;
}

.fc-popover {
    box-shadow: none;
}

.fc-title {
    font-weight: 500;
}

@media (max-width: 992px) {
    .fc-unthemed .fc-toolbar .fc-button {
        height: 2rem;
    }
    .fc-unthemed th.fc-day-header {
        padding: .30rem .5rem;
    }
    .fc-unthemed .fc-toolbar {
        margin-bottom: 1.5rem;
    }
    .fc-unthemed .fc-toolbar .fc-left > .fc-button-group > .fc-button,
    .fc-unthemed .fc-toolbar .fc-right > .fc-button-group > .fc-button,
    .fc-unthemed .fc-toolbar .fc-center > .fc-button-group > .fc-button {
        float: none;
    }
    .fc-unthemed .fc-toolbar .fc-left,
    .fc-unthemed .fc-toolbar .fc-right,
    .fc-unthemed .fc-toolbar .fc-center {
        display: block;
        float: none;

        margin-bottom: 1rem;

        text-align: center;
    }
    .fc-unthemed .fc-toolbar .fc-left h2,
    .fc-unthemed .fc-toolbar .fc-right h2,
    .fc-unthemed .fc-toolbar .fc-center h2 {
        float: none;

        text-align: center;
    }
    .fc-unthemed .fc-toolbar .fc-left > .fc-button-group,
    .fc-unthemed .fc-toolbar .fc-right > .fc-button-group,
    .fc-unthemed .fc-toolbar .fc-center > .fc-button-group {
        display: inline-block;
        float: none;
    }
    .fc-unthemed .fc-toolbar .fc-left > .fc-button,
    .fc-unthemed .fc-toolbar .fc-right > .fc-button,
    .fc-unthemed .fc-toolbar .fc-center > .fc-button {
        float: none;
    }
}

.fc-unthemed .fc-list-item.d-fc-event-accent .fc-event-dot,
.d-fc-event-accent-bg {
    border-color: #34bfa3;
    background: #34bfa3;
}

.fc-unthemed .fc-list-item.d-fc-event-red .fc-event-dot {
    border-color: #ff518a;
    background: #ff518a;
}

.fc-unthemed .fc-list-item.d-fc-event-yellow .fc-event-dot {
    border-color: #eac459;
    background: #eac459;
}

.fc-unthemed .fc-list-item.d-fc-event-blue .fc-event-dot {
    border-color: #36a2f5;
    background: #36a2f5;
}

.fc-unthemed .fc-list-item .fc-event-dot {
    border-color: #53505f;
    background: #53505f;
}

.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover .fc-header,
.fc-unthemed .fc-list-heading td {
    background: #f8fafb;
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-list-heading td {
    border-color: #e5e9ec;
}

.fc-unthemed .fc-list-item:hover td {
    background: #f8fafb;
}

.fc-list-table td {
    padding: 15px;
}

.calendar-event-list .fc-event {
    margin-bottom: 10px;
    padding: 10px;

    cursor: move;

    color: #2c2c2c;
}

#calendar-external-events .fc-day-grid-event {
    padding: 5px;
}

/*----------------------------------
sign in
----------------------------------*/
.brand {
    display: block;

    margin-bottom: 50px;
}

.form-signin {
    max-width: 450px;
    margin: 15% auto 15%;
    padding: 30px;

    background: #212121;
    /* box-shadow: 0 10px 70px 0 rgba(108, 158, 195, .25); */
}

.form-signin .form-signin-heading {
    font-size: 16px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;

    box-sizing: border-box;
    height: auto;
    padding: 8px 20px;

    font-size: 13px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.signin-gray-bg {
    background: #f2f6f9;
}

.signin-body-background {
    background-image: url("../img/signin-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.form-lock {
    position: relative;

    max-width: 400px;
    margin: 15% auto;

    background: #fff;
}

/*----------------------------------
form style
----------------------------------*/
.form-control {
    border-color: #e5e9ec;

    font-size: 13px;
    line-height: 2;
}

.form-text {
    font-size: .85rem;
}

.form-group > label {
    font-weight: 400;
}

.col-form-label {
    padding-top: calc(.375rem + 5px);
}

.bd-example > .form-control + .form-control {
    margin-top: 1rem;
}

.form-control:focus,
.select-wrapper:focus {
    border-color: #ffffff;
    box-shadow: #b2b2b2;
}



.form-control-square {
    border-radius: 0;
}

.form-control-pill,
select.form-control-pill {
    border-radius: 40px;
}

select.form-control-square,
.select-wrapper.form-control-pill select.form-control {
    border: none;
}

.select-wrapper {
    display: inherit;

    padding: 0 10px;

    border: 1px solid #e5e9ec;
    border-radius: 0;
}
.select-wrapper:focus {
    border: 1px solid #a768f3;
    outline: none;
}

.select-wrapper.form-control-pill {
    display: inherit;

    padding: 0 15px;

    border: 1px solid #e5e9ec;
    border-radius: 40px;
}
.select-wrapper.form-control-pill:focus {
    border: 1px solid #a768f3;
    outline: none;
}

.input-group-addon-bg-none {
    background: transparent;
}

.input-group-addon {
    border: 1px solid #e5e9ec;
}

.form-check-input {
    margin-top: .4rem;
}

.custom-control-input:disabled ~ .custom-control-indicator {
    background-color: #e9ecef !important;
}

/*---------------------------
  checkbox & radio
 ---------------------------*/
.control {
    position: relative;

    display: block;

    margin-bottom: 15px;
    padding-left: 30px;

    cursor: pointer;

    font-weight: normal;
    line-height: normal;
}

.control input {
    position: absolute;
    z-index: -1;

    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;

    width: 20px;
    height: 20px;

    border: 1px solid #e5e9ec;
    border-radius: 3px;
    background: #fff;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control input:checked ~ .control__indicator {
    border: none;
    background: #a768f3;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #a768f3;
}

.control input:disabled ~ .control__indicator {
    pointer-events: none;

    opacity: .6;
    background: #e6e6e6;
}

.control__indicator:after {
    position: absolute;

    display: none;

    content: "";
}

.control input:checked ~ .control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    top: 3px;
    left: 7px;

    width: 5px;
    height: 9px;

    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    border: solid #fff;
    border-width: 0 2px 2px 0;
}

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

.control--radio .control__indicator:after {
    top: 6px;
    left: 6px;

    width: 6px;
    height: 6px;

    border-radius: 50%;
    background: #fff;
}

.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}

.control-outline input:checked ~ .control__indicator {
    border: none;
    background: #a768f3;
}

.control.control-outline input:checked ~ .control__indicator {
    border: 1px solid #a768f3;
    background: transparent;
}

.control.control-outline:hover input:not([disabled]):checked ~ .control__indicator,
.control.control-outline input:checked:focus ~ .control__indicator {
    border: 1px solid #a768f3;
    background: transparent;
}

.control-outline.control--checkbox .control__indicator:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    border: solid #a768f3;
    border-width: 0 2px 2px 0;
}

.control.control-outline.control-outline-success input:checked ~ .control__indicator {
    border: 1px solid #34bfa3;
    background: transparent;
}

.control.control-outline.control-outline-success:hover input:not([disabled]):checked ~ .control__indicator,
.control.control-outline.control-outline-success input:checked:focus ~ .control__indicator {
    border: 1px solid #34bfa3;
    background: transparent;
}

.control-outline.control-outline-success.control--checkbox .control__indicator:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    border: solid #34bfa3;
    border-width: 0 2px 2px 0;
}

.control.control-outline.control-outline-warning input:checked ~ .control__indicator {
    border: 1px solid #eac459;
    background: transparent;
}

.control.control-outline.control-outline-warning:hover input:not([disabled]):checked ~ .control__indicator,
.control.control-outline.control-outline-warning input:checked:focus ~ .control__indicator {
    border: 1px solid #eac459;
    background: transparent;
}

.control-outline.control-outline-warning.control--checkbox .control__indicator:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    border: solid #eac459;
    border-width: 0 2px 2px 0;
}

.control.control-outline.control-outline-danger input:checked ~ .control__indicator {
    border: 1px solid #ff518a;
    background: transparent;
}

.control.control-outline.control-outline-danger:hover input:not([disabled]):checked ~ .control__indicator,
.control.control-outline.control-outline-danger input:checked:focus ~ .control__indicator {
    border: 1px solid #ff518a;
    background: transparent;
}

.control-outline.control-outline-danger.control--checkbox .control__indicator:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    border: solid #ff518a;
    border-width: 0 2px 2px 0;
}

.control.control-outline.control-outline-info input:checked ~ .control__indicator {
    border: 1px solid #36a2f5;
    background: transparent;
}

.control.control-outline.control-outline-info:hover input:not([disabled]):checked ~ .control__indicator,
.control.control-outline.control-outline-info input:checked:focus ~ .control__indicator {
    border: 1px solid #36a2f5;
    background: transparent;
}

.control-outline.control-outline-info.control--checkbox .control__indicator:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    border: solid #36a2f5;
    border-width: 0 2px 2px 0;
}

.control-outline.control--radio .control__indicator:after {
    border-radius: 50%;
    background: #a768f3;
}

.control-outline.control-outline-info.control--radio .control__indicator:after {
    border-radius: 50%;
    background: #36a2f5;
}

.control-outline.control-outline-success.control--radio .control__indicator:after {
    border-radius: 50%;
    background: #34bfa3;
}

.control-outline.control-outline-warning.control--radio .control__indicator:after {
    border-radius: 50%;
    background: #eac459;
}

.control-outline.control-outline-danger.control--radio .control__indicator:after {
    border-radius: 50%;
    background: #ff518a;
}

.control--checkbox.control-solid .control__indicator:after {
    top: 4px;
    left: 8px;
}

.control.control-solid.control-solid-primary input:checked ~ .control__indicator {
    background: #a768f3;
}

.control.control-solid.control-solid-info input:checked ~ .control__indicator {
    background: #36a2f5;
}

.control.control-solid.control-solid-success input:checked ~ .control__indicator {
    background: #34bfa3;
}

.control.control-solid.control-solid-warning input:checked ~ .control__indicator {
    background: #eac459;
}

.control.control-solid.control-solid-danger input:checked ~ .control__indicator {
    background: #ff518a;
}

.control-solid.control--radio .control__indicator:after {
    background: #a768f3;
}

.control-solid.control-solid-info.control--radio .control__indicator:after {
    background: #36a2f5;
}

.control-solid.control-solid-success.control--radio .control__indicator:after {
    background: #34bfa3;
}

.control-solid.control-solid-warning.control--radio .control__indicator:after {
    background: #eac459;
}

.control-solid.control-solid-danger.control--radio .control__indicator:after {
    background: #ff518a;
}

/*---------------------------
  dropzone
 ---------------------------*/
.dropzone {
    margin-right: auto;
    margin-left: auto;
    padding: 50px;

    border: 2px dashed #e5e9ec;
    border-radius: 4px;
    -webkit-border-image: none;
         -o-border-image: none;
            border-image: none;
    background: white;
}

.dropzone-primary {
    border: 2px dashed #a768f3;
}

.dropzone-info {
    border: 2px dashed #36a2f5;
}

.dropzone-success {
    border: 2px dashed #34bfa3;
}

.dropzone-warning {
    border: 2px dashed #eac459;
}

.dropzone-danger {
    border: 2px dashed #ff518a;
}

/*---------------------------
  touchspin
 ---------------------------*/
.btn-border {
    border-color: #e5e9ec;
}
.btn-border:hover {
    background: #f1f3f4;
}

.bootstrap-touchspin .input-group-btn-vertical > .btn {
    padding: 10px 15px;
}

.bootstrap-touchspin .input-group-btn-vertical {
    display: inline-block;

    width: auto;
}

.bootstrap-touchspin .input-group-btn-vertical i {
    font-size: .8rem;
}

.bootstrap-touchspin .input-group-btn-vertical i {
    top: 5px;
    left: 10px;
}

.bootstrap-touchspin .form-control.bootstrap-touchspin-vertical-btn {
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important;
}

/*---------------------------
 multiple select
 ---------------------------*/
.ms-container .ms-list {
    border: 1px solid #e5e9ec;
    box-shadow: none;
}

.ms-selection .search-input,
.ms-selectable .search-input {
    margin-bottom: 20px;
}

.ms-container .ms-list.ms-focus {
    border-color: #a768f3;
    outline: 0;
    outline: thin dotted \9;
    box-shadow: none;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover {
    background-color: #a768f3;
}

/*---------------------------
 ion range slider
 ---------------------------*/
.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge,
.irs-slider {
    background: #e5e9ec;
}

.irs {
    height: 40px;
}

.irs-with-grid {
    height: 60px;
}

.irs-line {
    top: 25px;

    height: 8px;
}

.irs-line-left {
    height: 8px;
}

.irs-line-mid {
    height: 8px;
}

.irs-line-right {
    height: 8px;
}

.irs-bar {
    top: 25px;

    height: 8px;

    background: #ed5565;
}

.irs-bar-edge {
    top: 25px;

    width: 9px;
    height: 8px;

    background: #ed5565;
}

.irs-shadow {
    top: 34px;

    height: 3px;

    opacity: .25;
    background: #000;
}

.lt-ie9 .irs-shadow {
    filter: alpha(opacity=25);
}

.irs-slider {
    top: 22px;

    width: 2px;
    height: 14px;

    background: #ed5565;
}

.irs-slider.state_hover,
.irs-slider:hover {
    /*background-position: 0 -150px;*/
}

.irs-min,
.irs-max {
    top: 0;

    padding: 1px 3px;

    color: #8d8d8d;
    border-radius: 2px;
    background: #e5e9ec;
    text-shadow: none;

    font-size: 10px;
    line-height: 1.333;
}

.irs-from,
.irs-to,
.irs-single {
    padding: 1px 5px;

    color: #fff;
    border-radius: 10px;
    background: #ed5565;
    text-shadow: none;

    font-size: 10px;
    line-height: 1.333;
}

.irs-from:after,
.irs-to:after,
.irs-single:after {
    position: absolute;
    bottom: -6px;
    left: 50%;

    display: block;
    overflow: hidden;

    width: 0;
    height: 0;
    margin-left: -3px;

    content: "";

    border: 3px solid transparent;
    border-top-color: #ed5565;
}

.irs-grid-pol {
    background: #e1e4e9;
}

.irs-grid-text {
    color: #999;
}

/*primary color*/
.ion-primary .irs-bar,
.ion-primary .irs-bar-edge,
.ion-primary .irs-slider,
.ion-primary .irs-from,
.ion-primary .irs-to,
.ion-primary .irs-single {
    background: #a768f3;
}

.ion-primary .irs-from:after,
.ion-primary .irs-to:after,
.ion-primary .irs-single:after {
    border-top-color: #a768f3;
}

/*success color*/
.ion-success .irs-bar,
.ion-success .irs-bar-edge,
.ion-success .irs-slider,
.ion-success .irs-from,
.ion-success .irs-to,
.ion-success .irs-single {
    background: #34bfa3;
}

.ion-success .irs-from:after,
.ion-success .irs-to:after,
.ion-success .irs-single:after {
    border-top-color: #34bfa3;
}

/*info color*/
.ion-info .irs-bar,
.ion-info .irs-bar-edge,
.ion-info .irs-slider,
.ion-info .irs-from,
.ion-info .irs-to,
.ion-info .irs-single {
    background: #36a2f5;
}

.ion-info .irs-from:after,
.ion-info .irs-to:after,
.ion-info .irs-single:after {
    border-top-color: #36a2f5;
}

/*warning color*/
.ion-warning .irs-bar,
.ion-warning .irs-bar-edge,
.ion-warning .irs-slider,
.ion-warning .irs-from,
.ion-warning .irs-to,
.ion-warning .irs-single {
    background: #eac459;
}

.ion-warning .irs-from:after,
.ion-warning .irs-to:after,
.ion-warning .irs-single:after {
    border-top-color: #eac459;
}

/*danger color*/
.ion-danger .irs-bar,
.ion-danger .irs-bar-edge,
.ion-danger .irs-slider,
.ion-danger .irs-from,
.ion-danger .irs-to,
.ion-danger .irs-single {
    background: #ff518a;
}

.ion-danger .irs-from:after,
.ion-danger .irs-to:after,
.ion-danger .irs-single:after {
    border-top-color: #ff518a;
}

/*---------------------------
 select 2
 ---------------------------*/
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
    border: 1px solid #e5e9ec;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #292b2c;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    position: relative;

    padding: .65rem 1rem;

    line-height: 1.25;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0rem .8rem;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    min-height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
    right: 7px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    top: 1px;
    right: 15px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--default.select2-container--disabled .select2-selection--single {
    border: 1px solid #e5e9ec;
    background-color: #212121;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    padding-right: 10px;
    padding-left: 10px;

    border: 1px solid #e5e9ec;
    outline: none;
}

.select2-container,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    outline: none;
}

.select2-dropdown {
    border: none;
    box-shadow: 0 10px 70px 0 rgba(108, 158, 195, .25);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: #b2b2b2;
    background-color: #282828;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    color: #b2b2b2;
    background-color: #282828;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px #a768f3 solid;
    outline: 0;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--open .select2-selection--multiple,
.select2-container--default.select2-container--open .select2-selection--single {
    border-color: #b1b1b1;
    
}

/*---------------------------
 form validation
 ---------------------------*/
.has-info {
    color: #36a2f5;
}
.has-info .form-text {
    color: #36a2f5;
}
.has-info .has-input {
    border-color: #36a2f5;
}

.has-success {
    color: #34bfa3;
}
.has-success .form-text {
    color: #34bfa3;
}
.has-success .has-input {
    border-color: #34bfa3;
}

.has-warning {
    color: #eac459;
}
.has-warning .form-text {
    color: #eac459;
}
.has-warning .has-input {
    border-color: #eac459;
}

.has-danger {
    color: #ff518a;
}
.has-danger .form-text {
    color: #ff518a;
}
.has-danger .has-input {
    border-color: #ff518a;
}

.feedback-icon-form .form-control-feedback {
    position: absolute;
    z-index: 2;
    top: 3px;
    right: 0;

    display: block;

    width: 34px;
    height: 34px;

    text-align: center;
    pointer-events: none;

    line-height: 34px;
}

.feedback-icon-form .has-feedback .form-control-feedback {
    right: 15px;
}

.has-error .help-block {
    color: #ff518a;
}

.error.help-block {
    color: #ff518a;
}

.ui.form .field.error .input,
.ui.form .field.error label,
.ui.form .fields.error .field .input,
.ui.form .fields.error .field label,
.ui.form .field.error .checkbox:not(.toggle):not(.slider) .box,
.ui.form .field.error .checkbox:not(.toggle):not(.slider) label,
.ui.form .fields.error .field .checkbox:not(.toggle):not(.slider) .box,
.ui.form .fields.error .field .checkbox:not(.toggle):not(.slider) label {
    color: #ff518a;
}

.ui.grid > .row > .column {
    text-align: right;

    font-size: 14px;
    font-weight: 400;
}

.ui.form .field.error input:not([type]),
.ui.form .field.error input[type=text],
.ui.form .field.error input[type=email],
.ui.form .field.error input[type=search],
.ui.form .field.error input[type=password],
.ui.form .field.error input[type=date],
.ui.form .field.error input[type=datetime-local],
.ui.form .field.error input[type=tel],
.ui.form .field.error input[type=time],
.ui.form .field.error input[type=url],
.ui.form .field.error input[type=number],
.ui.form .field.error select,
.ui.form .field.error textarea,
.ui.form .fields.error .field input:not([type]),
.ui.form .fields.error .field input[type=text],
.ui.form .fields.error .field input[type=email],
.ui.form .fields.error .field input[type=search],
.ui.form .fields.error .field input[type=password],
.ui.form .fields.error .field input[type=date],
.ui.form .fields.error .field input[type=datetime-local],
.ui.form .fields.error .field input[type=tel],
.ui.form .fields.error .field input[type=time],
.ui.form .fields.error .field input[type=url],
.ui.form .fields.error .field input[type=number],
.ui.form .fields.error .field select,
.ui.form .fields.error .field textarea {
    border-color: #ff518a;
}

.ui.red.label,
.ui.red.labels .label {
    color: #fff !important;
    border-color: #ff518a !important;
    background-color: #ff518a !important;
}

.ui.form .field {
    margin-bottom: 0;
}

/*----------------------------------
form wizard style
----------------------------------*/
.form-wizard {
    position: relative;

    display: table;

    max-width: 540px;
    margin: 0 auto 30px;
}
.form-wizard .steps {
    overflow: hidden;

    margin: 40px 0;
}
.form-wizard .steps ul {
    margin: 0;
    padding: 0;

    list-style: none;
}
.form-wizard .steps ul li {
    position: relative;

    float: left;

    padding: 0 15px;

    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.form-wizard .steps ul li:hover,
.form-wizard .steps ul li.active {
    color: #292b2c;
}
.form-wizard .steps ul li:hover span,
.form-wizard .steps ul li.active span {
    color: #b2b2b2;
    background: #1b1b1b;
}
.form-wizard .steps ul li:hover::after,
.form-wizard .steps ul li.active::after {
    width: 100%;

    background: #1b1b1b;
}
.form-wizard .steps ul li::before,
.form-wizard .steps ul li::after {
    position: absolute;
    top: 20px;
    left: -50%;

    width: 100%;
    height: 2px;

    content: "";
    -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);

    background: #e5e9ec;
}
.form-wizard .steps ul li::after {
    width: 0;
}
.form-wizard .steps ul li span {
    position: relative;
    z-index: 1;

    display: block;

    width: 35px;
    height: 35px;
    margin: 0 auto 15px;

    -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
    text-align: center;

    color: #ffffff;
    border-radius: 2px;
    background: #1b1b1b;

    font-size: 18px;
    font-weight: 300;
    line-height: 35px;
}
.form-wizard .steps ul li:first-child::before,
.form-wizard .steps ul li:first-child::after {
    display: none;
}

.form-container {
    left: 100%;

    display: none;
    clear: both;

    padding: 30px;

    border-radius: 4px;
    background: #1b1b1b;
    /* box-shadow: 0 10px 70px 0 rgba(187, 197, 204, 0.25); */
}

.form-container.active {
    display: block;
}

.form-title {
    position: relative;

    margin-bottom: 30px;
    padding-bottom: 15px;

    font-size: 18px;
}

.stepy-tab {
    margin: 40px 0;

    text-align: center;
}

.stepy-tab ul {
    display: inline-block;

    list-style: none;
}

.stepy-tab ul li {
    float: left;
}

.step legend {
    border: none;
}

.button-back {
    float: left;
}

.button-next,
.finish {
    float: right;
}

.button-back,
.button-next,
.finish {
    cursor: pointer;
    text-decoration: none;
}

.step {
    clear: left;
}

.step label {
    display: block;
}

.stepy-titles li {
    float: left;

    margin: 10px 15px;

    cursor: pointer;

    color: #757575;
}

.stepy-titles li span {
    display: block;
}

.stepy-titles li.current-step div {
    width: auto;
    height: 50px;

    cursor: auto;

    color: #fff;
    border-radius: 50px;
    background: #ff518a;

    line-height: 50px;
}

.stepy-titles li div {
    width: auto;
    height: 50px;
    padding: 0 40px;

    color: #fff;
    border-radius: 50px;
    background: #7a88a7;

    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
}

.wizard > .content {
    min-height: 25em;
    margin: .5em;

    border: 1px solid #e5e9ec;
    background: #fff;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active {
    color: #fff;
    background: #7a88a7;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active {
    color: #fff;
    background: #a768f3;
}

.wizard > .content > .body input {
    border: 1px solid #e5e9ec;
}
.wizard > .content > .body input:focus {
    border: 1px solid #a768f3;
}

.wizard > .content > .body label.error {
    margin-left: 0;

    color: #ff518a;
}

.wizard > .content > .body input.error {
    margin-right: 10px;

    color: #ff518a;
    border: 1px solid #ff518a;
    background: #ffd9e6;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active {
    color: #fff;
    background: #dec6fb;
}

.wizard > .steps .number {
    display: inline-block;

    width: 80px;
    height: 50px;
    margin-right: 10px;

    text-align: center;

    border-radius: 5px 0 0 5px;
    background: rgba(0, 0, 0, .08);

    font-size: 13px;
    line-height: 50px;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active {
    padding: 0;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active {
    background: #a768f3;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active {
    color: #282a39;
    border: 1px solid #e5e9ec;
    background: #fff;
}

.wizard > .content > .body ul {
    list-style: none !important;
}

@media (max-width: 767px) {
    .wizard > .steps .number {
        width: 40px;
    }
    .wizard > .steps > ul > li {
        width: 50%;
    }
}

/*----------------------------------
switch style
----------------------------------*/
.tgl {
    display: none;
}
.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
    box-sizing: border-box;
}
.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
    background: none;
}
.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
    background: none;
}
.tgl + .tgl-btn {
    position: relative;

    display: block;

    width: 4em;
    height: 2em;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    outline: 0;
}
.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
    position: relative;

    display: block;

    width: 50%;
    height: 100%;

    content: "";
}
.tgl + .tgl-btn:after {
    left: 0;
}
.tgl + .tgl-btn:before {
    display: none;
}
.tgl:checked + .tgl-btn:after {
    left: 50%;
}

.tgl-light + .tgl-btn {
    padding: 2px;

    -webkit-transition: all .4s ease;
            transition: all .4s ease;

    border-radius: 2em;
    background: #f0f0f0;
}
.tgl-light + .tgl-btn:after {
    -webkit-transition: all .2s ease;
            transition: all .2s ease;

    border-radius: 50%;
    background: #fff;
}

.tgl-light:checked + .tgl-btn {
    background: #9fd6ae;
}

.tgl-ios + .tgl-btn {
    padding: 2px;

    -webkit-transition: all .4s ease;
            transition: all .4s ease;

    border: 1px solid #e8eae9;
    border-radius: 2em;
    background: #fbfbfb;
}
.tgl-ios + .tgl-btn:after {
    -webkit-transition: left .3s cubic-bezier(.175, .885, .32, 1.275), padding .3s ease, margin .3s ease;
            transition: left .3s cubic-bezier(.175, .885, .32, 1.275), padding .3s ease, margin .3s ease;

    border-radius: 2em;
    background: #fbfbfb;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 4px 0 rgba(0, 0, 0, .08);
}
.tgl-ios + .tgl-btn:hover:after {
    will-change: padding;
}
.tgl-ios + .tgl-btn:active {
    box-shadow: inset 0 0 0 2em #e8eae9;
}
.tgl-ios + .tgl-btn:active:after {
    padding-right: .8em;
}

.tgl-ios:checked + .tgl-btn {
    background: #86d993;
}
.tgl-ios:checked + .tgl-btn:active {
    box-shadow: none;
}
.tgl-ios:checked + .tgl-btn:active:after {
    margin-left: -.8em;
}

.tgl-skewed + .tgl-btn {
    overflow: hidden;

    -webkit-transition: all .2s ease;
            transition: all .2s ease;
    -webkit-transform: skew(-10deg);
        -ms-transform: skew(-10deg);
            transform: skew(-10deg);

    background: #45567c;

    font-family: sans-serif;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.tgl-skewed + .tgl-btn:after,
.tgl-skewed + .tgl-btn:before {
    position: absolute;

    display: inline-block;

    width: 100%;

    -webkit-transition: all .2s ease;
            transition: all .2s ease;
    -webkit-transform: skew(10deg);
        -ms-transform: skew(10deg);
            transform: skew(10deg);
    text-align: center;

    color: #fff;

    font-weight: bold;
    line-height: 2em;
}
.tgl-skewed + .tgl-btn:after {
    left: 100%;

    content: attr(data-tg-on);
}
.tgl-skewed + .tgl-btn:before {
    left: 0;

    content: attr(data-tg-off);
}
.tgl-skewed + .tgl-btn:active {
    background: #45567c;
}
.tgl-skewed + .tgl-btn:active:before {
    left: -10%;
}

.tgl-skewed:checked + .tgl-btn {
    background: #86d993;
}
.tgl-skewed:checked + .tgl-btn:before {
    left: -100%;
}
.tgl-skewed:checked + .tgl-btn:after {
    left: 0;
}
.tgl-skewed:checked + .tgl-btn:active:after {
    left: 10%;
}

.tgl-flat + .tgl-btn {
    padding: 2px;

    -webkit-transition: all .2s ease;
            transition: all .2s ease;

    border: 4px solid #f2f2f2;
    border-radius: 2em;
    background: #fff;
}
.tgl-flat + .tgl-btn:after {
    content: "";
    -webkit-transition: all .2s ease;
            transition: all .2s ease;

    border-radius: 1em;
    background: #f2f2f2;
}

.tgl-flat:checked + .tgl-btn {
    border: 4px solid #7fc6a6;
}
.tgl-flat:checked + .tgl-btn:after {
    left: 50%;

    background: #7fc6a6;
}

.tgl-flip + .tgl-btn {
    padding: 2px;

    -webkit-transition: all .2s ease;
            transition: all .2s ease;

    font-family: sans-serif;

    -webkit-perspective: 100px;
            perspective: 100px;
}
.tgl-flip + .tgl-btn:after,
.tgl-flip + .tgl-btn:before {
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;

    width: 100%;

    -webkit-transition: all .4s ease;
            transition: all .4s ease;
    text-align: center;

    color: #fff;
    border-radius: 4px;

    font-weight: bold;
    line-height: 2em;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.tgl-flip + .tgl-btn:after {
    content: attr(data-tg-on);
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);

    background: #02c66f;
}
.tgl-flip + .tgl-btn:before {
    content: attr(data-tg-off);

    background: #ff3a19;
}
.tgl-flip + .tgl-btn:active:before {
    -webkit-transform: rotateY(-20deg);
            transform: rotateY(-20deg);
}

.tgl-flip:checked + .tgl-btn:before {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.tgl-flip:checked + .tgl-btn:after {
    left: 0;

    -webkit-transform: rotateY(0);
            transform: rotateY(0);

    background: #7fc6a6;
}

.tgl-flip:checked + .tgl-btn:active:after {
    -webkit-transform: rotateY(20deg);
            transform: rotateY(20deg);
}

.tgl-primary:checked + .tgl-btn {
    background: #a768f3;
}

.tgl-info:checked + .tgl-btn {
    background: #36a2f5;
}

.tgl-success:checked + .tgl-btn {
    background: #34bfa3;
}

.tgl-warning:checked + .tgl-btn {
    background: #eac459;
}

.tgl-danger:checked + .tgl-btn {
    background: #ff518a;
}

.tgl-flat.tgl-flat-primary:checked + .tgl-btn {
    border: 4px solid #a768f3;
}

.tgl-flat.tgl-flat-primary:checked + .tgl-btn:after {
    background: #a768f3;
}

.tgl-flat.tgl-flat-info:checked + .tgl-btn {
    border: 4px solid #36a2f5;
}

.tgl-flat.tgl-flat-info:checked + .tgl-btn:after {
    background: #36a2f5;
}

.tgl-flat.tgl-flat-success:checked + .tgl-btn {
    border: 4px solid #34bfa3;
}

.tgl-flat.tgl-flat-success:checked + .tgl-btn:after {
    background: #34bfa3;
}

.tgl-flat.tgl-flat-warning:checked + .tgl-btn {
    border: 4px solid #eac459;
}

.tgl-flat.tgl-flat-warning:checked + .tgl-btn:after {
    background: #eac459;
}

.tgl-flat.tgl-flat-danger:checked + .tgl-btn {
    border: 4px solid #ff518a;
}

.tgl-flat.tgl-flat-danger:checked + .tgl-btn:after {
    background: #ff518a;
}

.tgl-flip + .tgl-btn:before {
    content: attr(data-tg-off);

    background: #45567c;
}

.tgl-flip.tgl-flip-primary:checked + .tgl-btn:after {
    background: #a768f3;
}

.tgl-flip.tgl-flip-info:checked + .tgl-btn:after {
    background: #36a2f5;
}

.tgl-flip.tgl-flip-success:checked + .tgl-btn:after {
    background: #34bfa3;
}

.tgl-flip.tgl-flip-warning:checked + .tgl-btn:after {
    background: #eac459;
}

.tgl-flip.tgl-flip-danger:checked + .tgl-btn:after {
    background: #ff518a;
}

/*----------------------------------
404 error style
----------------------------------*/
.error-wrap {
    position: relative;
    z-index: 10;

    display: inline-block;

    margin-top: 30%;
    padding: 20px;

    background: rgba(255, 255, 255, .9);
}
.error-wrap h1 {
    margin: 0;

    font-size: 100px;
    font-weight: bold;
}
.error-wrap .btn {
    padding: 12px 40px;

    font-size: 14px;
}

.error-img {
    position: absolute;
    right: 5%;
    bottom: 3%;
    left: auto;
}

.highlightOptDiv{
    background-color:rgb(97, 96, 96);
    border-radius: 6px;
    padding-bottom: 10px;
    font-weight: bold;
}

/*----------------------------------
invoice
----------------------------------*/
/*----------------------------------
profile style
----------------------------------*/
.border-bottom-1 {
    border-bottom: 1px solid #e5e9ec;
}

.profile-img {
    position: relative;

    width: 100%;
    height: 300px;

    background: url(../img/profile.jpg) no-repeat;
    background-size: cover;
}

.profile-text-shadow {
    text-shadow: 0 0 3px rgba(0, 0, 0, .8);
}

.profile-status .form-control {
    border: none;
}

.profile-status .nav.nav-tabs .nav-link,
.profile-status .nav.nav-pills .nav-link {
    color: #53505f;
}

.profile-status .nav.nav-pills .nav-link.active {
    color: #fff;
}

.profile-timeline {
    padding: 0;

    list-style: none;
}
.profile-timeline li {
    display: inline-block;

    width: 100%;
    padding: 15px 0 0 0;

    border-top: 1px solid #e5e9ec;
}
.profile-timeline li .profile-timeline-thumb {
    float: left;

    width: 50px;
    margin-right: 10px;
}
.profile-timeline li .profile-timeline-thumb img {
    display: inline-block;

    width: 50px;
    height: 50px;

    border-radius: 50%;
}
.profile-timeline li .profile-timeline-thumb-desk {
    float: left;

    width: 90%;
    padding-bottom: 15px;

    color: #292b2c;
}
.profile-timeline li .profile-timeline-thumb-desk span {
    display: block;

    color: #53505f;
}
.profile-timeline li .profile-timeline-thumb-desk .profile-gallery a {
    display: inline-block;

    margin-right: 10px;
    margin-bottom: 10px;
}
.profile-timeline li .profile-timeline-thumb-desk .profile-gallery a img {
    max-width: 200px;
    height: auto;
}

.profile-timeline ul {
    padding-left: 50px;
}
.profile-timeline ul .profile-timeline-thumb {
    float: left;

    width: 35px;
    margin-right: 10px;
}
.profile-timeline ul .profile-timeline-thumb img {
    display: inline-block;

    width: 35px;
    height: 35px;

    border-radius: 50%;
}

/*----------------------------------
custom chart style
----------------------------------*/
.aws-container {
    position: relative;

    overflow: hidden;

    border-radius: 5px;
    background-color: #a768f3;
}

.aws-container .aws-content {
    padding: 32px;
}

.aws-container .aws-content nav {
    margin-bottom: 60px;

    font-size: 16px;
}

.aws-container .aws-content nav span {
    margin: 0 10px;

    cursor: pointer;

    color: #fff;
}

.aws-container .aws-content nav span.aws-active {
    padding: 3px 8px;

    color: #fff;
    border-radius: 4px;
    background: rgba(0, 0, 0, .2);
}

.aws-container .aws-details {
    position: relative;

    overflow: hidden;

    height: 100px;

    background-color: #fefefe;
}

.aws-container .aws-details:after {
    position: absolute;
    z-index: 1;
    top: 26px;
    right: 50%;
    bottom: 28px;

    width: 1px;

    content: " ";

    background-color: #e8e8e8;
}
@media (max-width: 575px) {
    .aws-container .aws-details:after {
        background: none;
    }
}

.aws-container .aws-details .aws-block-info {
    padding: 26px 15px 28px;
}

.aws-container .aws-details .aws-block-info h3 {
    margin: 0 0 5px;

    color: #4a4a4a;

    font-size: 24px;
}
@media (max-width: 1024px) {
    .aws-container .aws-details .aws-block-info h3 {
        font-size: 16px;
    }
}

.aws-container .aws-details .aws-block-info h3[data-status] {
    position: relative;
}

.aws-container .aws-details .aws-block-info h3[data-status]:before {
    position: absolute;
    top: 8px;

    width: 0;
    height: 0;

    content: " ";

    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.aws-container .aws-details .aws-block-info h3[data-status] span {
    padding-left: 22px;
}

.aws-container .aws-details .aws-block-info h3[data-status=up]:before {
    border-bottom: 8px solid #a768f3;
}

.aws-container .aws-details .aws-block-info h3[data-status=down]:before {
    border-top: 8px solid #a768f3;
}

.aws-container .aws-details .aws-block-info h5 {
    margin: 0;

    color: #9d9c9c;

    font-size: 12px;
}

.aws-container .aws-tooltip {
    position: absolute;
    z-index: 99;

    width: 120px;
    padding: 9px;

    text-align: center;

    border-radius: 3px;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 1px 1px .5px .5px rgba(0, 0, 0, .3);
}

.aws-container .aws-tooltip.aws-for-file {
    width: 160px;
}

.aws-container .aws-tooltip:after {
    position: absolute;
    bottom: -8px;
    left: 50%;

    width: 0;
    height: 0;
    margin-left: -6px;

    content: " ";

    border-top: 8px solid rgba(255, 255, 255, .8);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.aws-container .aws-tooltip span {
    display: block;
}

.aws-container .aws-tooltip span:nth-child(1) {
    font-size: 11px !important;
}

.aws-container .aws-tooltip span:nth-child(2) {
    font-size: 13px !important;
}

.jqstooltip {
    width: 35px;
    height: 22px !important;
}

.modal-header {
    color: #b2b2bb;
    background: #1b1b1b;
}
div.modal-header > button > span{
    color: #ffff;
}
.modal-body {
    color: #b2b2bb;
    background: #282828;
}

.modal-footer {
    color: #b2b2bb;
    background: #282828;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #4b4b4b;
    border-color: #4b4b4b;
}
